

/__pycache__
/.ipynb_checkpoints/*
/plots
*.pyc
/src/dutchvocab.egg-info
/src/dutchvocab/*.csv
/src/dutchvocab/settings.txt
/src/dutchvocab/plots
/learning_log.csv
/*.csv
/Bugs.xlsx
/*.txt
/src/dutchvocab/*.png
