

/__pycache__
/.ipynb_checkpoints/*
/plots
*.pyc
/src/dutchvocab.egg-info
/src/learning_log.csv
/src/dutchvocab/testing_log.csv
/src/dutchvocab/test_log1.csv
/src/dutchvocab/settings.txt
/learning_log.csv
/Bugs.xlsx
/*.txt
