

/__pycache__
/.ipynb_checkpoints/*
/plots
/ideas.txt
*.pyc
/src/dutchvocab.egg-info
/src/learning_log.csv
/src/dutchvocab/testing_log.csv
/src/dutchvocab/settings.txt
/learning_log.csv
/Bugs.xlsx
/20250818_packages.txt
/package_versions.txt
/settings.txt
